# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Log files
*.log

# Test images and results
test_images/
test_results/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Google API credentials
credentials.json
token.pickle
retrieved_photos/
